html, body{
    margin: 0;
    padding: 0;
}
html{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
.flex{
    display: flex;
}

.maxwidth70{
    max-width: 70%;
    background-color: rgb(94, 255, 0);
}
.centralizar{
  flex-direction: row; /* row é padrão */
  justify-content: center;
}
.text-center{
    text-align: center;
}
.margin-auto{
    margin: 0 auto;
}
.header{

}
.main{

}
.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.card{
    box-sizing: border-box;
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    width: 50%; 
    padding: 15px;
    justify-content:space-between  
}
.card img{
    width: 200px;
    margin-left: 15px;
}
.text-center{
    text-align: center;
}

#logo{
    width: 300px;
    border-radius: 50%;
}