html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
html{
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex{
    display: flex;
}

.maxwidth70{
    max-width: 70%;
    /* background-color: rgb(94, 255, 0); */
}
.centralizar{
  flex-direction: row;
  justify-content: center;
}
.space-between{
    flex-direction: column;
    justify-content:space-between;
    display: flex;  
}
.text-center{
    text-align: center;
}
.margin-auto{
    margin: 0 auto;
}
.header{

}
.main{

}
.footer {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
    height: 200px;
    font-size: 24px;
    
}
.card{
    box-sizing: border-box;
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    width: 47%; 
    padding: 15px;
    margin: 12px;
    justify-content:space-between  
}
.card img{
    width: 200px;
    margin-left: 15px;
}
.text-center{
    text-align: center;
}

#logo{
    width: 300px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.wrap{
    flex-wrap: wrap;
    display: flex;
}